@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Ensures footer sticks to bottom */
        align-items: center;
        min-height: 100vh;
        /* Minimum height of the viewport */
        background-color: #222A68;
        font-family: 'Rubik', sans-serif;
        margin: 0;
}
.buttons {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

button.back-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E2ADF2;
    color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #654597;
    transition: all 0.1s ease-in-out;
}

button.back-button:hover {
    background-color: #AB81CD;
    border-bottom-width: 0;
    border-top-width: 4px;
}

button.back-button:active {
    background-color: #AB81CD;
    box-shadow: 0 2px #654597;
    transform: translateY(4px);
}

button#play-btn,
button#pause-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E2ADF2;
    color: white;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #654597;
    transition: all 0.1s ease-in-out;
}

button#play-btn:hover,
button#pause-btn:hover {
    background-color: #AB81CD;
    border-bottom-width: 0;
    border-top-width: 4px;
}

button#play-btn:active,
button#pause-btn:active {
    background-color: #AB81CD;
    box-shadow: 0 2px #654597;
    transform: translateY(4px);
}

/* Style for Material Icons */
.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
    /* Adjust spacing between icon and text if necessary */
}
.navbar {
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 46px;
    padding: 14px 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
    color: #0F132E;
}
.gallery {
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    width: 200px;
    margin: 8px 0;
    border: 1px solid #777;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
}

figure img {
    width: 100%;
}

figure figcaption {
    flex: 1;
    text-align: center;
    padding: 8px 4px;
}

footer {
    background-color: #0f132e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}